

.container {
  .auth {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .box {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: rgb(71, 215, 255);
  }

  .l-side1 {
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 3rem;

    form {
      border-radius: 30px;
      background-color: white;
      padding: 3rem;
      display: flex;
      flex-direction: column;

      h1 {
        color: rgb(65, 105, 225);
        font-size: 2rem;
        text-align: center;
      }

      input {
        height: 2rem;
        margin-bottom: 0.8rem;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
      }

      button {
        background-color: rgb(71, 215, 255); /* Dark blue button */
        color: white;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin-top: 1rem;
      }

      button:hover {
        background-color: rgb(51, 153, 255); /* Dark blue hover */
        transition: background-color 0.3s ease;
        box-shadow: rgb(30, 144, 255) 0px 4px 10px 0px;
      }

      div {
        color: rgb(65, 105, 225); /* Dark blue text */
        margin-top: 0.5rem;
        text-align: center;
      }

      a {
        color: rgb(65, 105, 225); /* Dark blue link */
        text-decoration: none;
        margin-top: 1rem;
        text-align: center;
        display: block;
      }

      a:hover {
        color: rgb(0, 0, 205); /* Medium blue hover */
      }
    }
  }

  .r-side {
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    img {
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      height: 100%;
    }
  }

  @media screen and (max-width: 560px) {
    .l-side1 {
      width: 100%;
      padding: 0px;

      form {
        padding: 2rem;
      }
    }

    .r-side {
      display: none; 
    }
  }
}

